@media only screen and (max-width: 600px) {
    .weather-temp {
        font-size: 1.5rem; /* Adjusted font size for small screens */
    }

    .weather-location {
        font-size: 1rem; /* Adjusted font size for small screens */
    }

    .weather-image img {
        max-height: 165%; /* Adjusted for small screens */
    }
}

.container
{
    width: 50vw;
    height: 90vh;
    min-width: 320px;
    max-height: 100%;
   margin : auto;
    border-radius: 3%;
    background-image: linear-gradient(180deg, #130754 0%, #271b6d 50%, #3b2f80 100%);
    /* margin-left:  10vw; */
}
.top-bar
{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2vw;
padding-top: 8vh;
}
.top-bar input
{
    display: flex;
    width: 55%;
    height: 10vh;
    background : #ebfffc;
    border : none;
    outline : none;
    border-radius : 40px;
    padding-left : 2vw;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}
.search-icon
{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 14%;
    height: 10vh;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}
.weather-info
{  display: flex;
   flex-direction: column;
}
.weather-image
{
    margin-top: 5vh;
    height :10vh;
    display: flex;
    justify-content:center; 
}
.weather-image img
{
/* {   max-height: 100%; */
    height: 20vh;
    width: auto; 
    aspect-ratio: 1; 
}
.weather-temp
{
    color:white;
    font-size :3.5rem;
    font-weight: 400px;
    margin-top : 3vh;
    margin-bottom: none;
}
.weather-location {
    color:white;
    font-size :2rem;
    font-weight: 400px ;
    margin-top: -8vh;
}
.data-container
{
       /* position: absolute;
    bottom: -20;  */
    margin-top: 6vh;
    width: 100%;
    color:white;
    display: flex;
    justify-content: center;
}
.element
{
    margin:auto;
    display:flex;
    align-items:flex-start;
    gap: 0.5rem;
}
/* .data
{
    font-size:1.5rem;
    font-weight: 400;
} */
.text
{
    font-size: 1.2rem;
    font-weight: 400;
}
.icon
{
    margin-top: 5vh;
}